@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #812F33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-me {
  background-color: hsl(53, 100%, 90%);
}

#portfolio {
  background-color: #febc76;
}

#resume {
  background-color: #86708f;
}

#contact-me {
  background-color: #A5AAA3;
}

.custom-shape-divider-bottom-1630979105 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630979105 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 113px;
}

.custom-shape-divider-bottom-1630979105 .shape-fill {
  fill: #FEA443;
}