.container {
    width: 100%;
    height: 50%;
    
    border: 1px solid red;

    background-size: cover;
    background-position: center;

    h2 {
        margin: 0;
        padding: 0;
        color: white    
    }
}