.container{
    padding: 5%;
    height: 100%;
    .link {
        font-family: 'Alfa Slab One', cursive;
        color: #812F33;
        transition: all 0.2;
        &:hover {
            transform: scale(1.2);
            text-shadow: 0 0 1px #812F33;
        }
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        height: 100%;
        @media (max-width: 40em){
        overflow-x: scroll;
        }
        .subInfo {
            width: 50%;
            @media (max-width: 40em){
                width: 100%;
                display: block;
            }
            
            h2 {
                font-family: 'Alfa Slab One', cursive;
                color: #913c40;
            }
            p {
                color: hsl(53, 100%, 90%);
            }        
        }
    }
}