.forMargin {
    position: fixed;
    height: 100vh;
    display: flex;

    z-index: 100;

    background-color: #812F33;
    box-shadow: 1px 0px 10px #812F33
}

.navContainer {
    height: 400px;
    width: 50px;
    
    margin: auto 0 auto 0;

    font-family: 'Source Code Pro', monospace;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;

    font-size: 2rem;
    @media(max-width:40em) {
        font-size: 1.5rem;
        width: 35px;        
    }
    
    .icon{
        width: 100%;
        
        background-color: hsl(357, 47%, 50%);

        color: rgb(26, 26, 26);
        box-sizing: border-box;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 10px ;
        &:hover {
            color: rgb(192, 192, 192);
        }

    }

    .description {
        width: 100%;

        
        
        color: rgb(26, 26, 26);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-overflow: inherit;
        overflow: hidden;
        transition: height 0.5s ease-out;
    
        background-color: hsl(357, 47%, 75%);

        display: flex;
        align-items: center;
        justify-content: center;


        p {
            margin: 0;
            text-align: center;
        }
    }
}



