@mixin divider() {
    width: 100%;
    height: 100%;
    
    //overflow: hidden;
    mask-repeat: repeat-x;
    mask-size: cover;
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: cover;
    position: absolute;
    @media(max-width: 601px){
        mask-size: cover;
    }    
}

.container {
    margin: 0;
    height: 10%;
    display: flex;
    align-items: flex-end;
    position: relative;
    @media(max-width: 40em) {
        aspect-ratio: 10/1;
    }
    
    .wave1{
        @include divider();
        mask-image: url('../assets/about-port/about-port-1.svg');
        background-color: #fea443;
        animation: waving 5s infinite;
    }    
    .wave2{
        @include divider();
        mask-image: url('../assets/about-port/about-port-2.svg');
        background-color: #c3fe43;
        animation: waving2 3s infinite;
        -webkit-animation: waving2 3s infinite;
    }
    .wave3{
        @include divider();
        mask-image: url('../assets/about-port/about-port-3.svg');
        background-color: #c3fe43;
        animation: waving3 10s infinite;
        -webkit-animation: waving3 10s infinite;
    }
}

@keyframes waving {
    0% {
        mask-position-y: 0%;
    }
    50% {
        mask-position-y: 0;
    }
    100% {
        mask-position-y: 0%;
    }
}
@keyframes waving2 {
    0% {
        mask-position-y: 0%;
        -webkit-mask-position-y: 0%;
    }
    50% {
        mask-position-y: 15px;
        -webkit-mask-position-y: 15px;
    }
    100% {
        mask-position-y: 0%;
        -webkit-mask-position-y: 0%;
    }
}      

@keyframes waving3 {
    0% {
        mask-position-y: 0%;
        -webkit-mask-position-y: 0%;
    }
    50% {
        mask-position-y: 30px;
        -webkit-mask-position-y: 30px;
    }
    100% {
        mask-position-y: 0%;
        -webkit-mask-position-y: 0%;
    }
}      