@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.container {
    text-align: center;
    height: 90%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    h1 {
        margin: 10% 0 0 10%;
        text-align: start;
        font-family: 'Source Code Pro', monospace;
        font-size: 6rem;
        overflow-wrap: break-word;
        background-color: #f3ec78;
        background-image: linear-gradient(308deg, #f5540a 25%, #931C1C 74%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        
        @media (max-width: 40em) {
            font-size: 2rem;
        }
    }
    .objectContainer{
        box-sizing: border-box;
        background-image: linear-gradient(308deg, #ac3434 25%, #812F33 74%);
        text-align: start;
        width: 100%;
        padding: 0 0 0 10%;
        p {
            color: #fff9cc;
            margin: 0;
            font-family: 'Source Code Pro', monospace;
            font-size: 2rem;
            overflow-wrap: break-word;
            @media (max-width: 40em) {
                font-size: 1rem;
            }
        }
    }
    p {
        font-family: 'Source Code Pro', monospace;
    }
}